.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* this is the CSS that is created to stylize the main title text and image most everything else uses bootstrap*/

.border1 {
  background-image: url(https://png.pngtree.com/png-clipart/20221025/ourmid/pngtree-lego-border-colorful-building-blocks-decoration-png-image_6293417.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:10%;
  background-color: rgb(208, 211, 235);
}

.titletext {
  text-shadow: 5px 5px 5px rgb(255, 255, 255) !important;
  font-size: 5rem !important;
  font-family: Copperplate, Papyrus, fantasy;
}